ClienteIntellectus/ClienteIntellectus/Connected Services/UsuarioServicios/UsuarioServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Nick" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfUsuarioAmistad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioAmistad" nillable="true" type="tns:UsuarioAmistad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioAmistad" nillable="true" type="tns:ArrayOfUsuarioAmistad" />
  <xs:complexType name="UsuarioAmistad">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsSolicitante" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SolicitudAmistad" nillable="true" type="tns:SolicitudAmistad" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioAmistad" nillable="true" type="tns:UsuarioAmistad" />
  <xs:complexType name="SolicitudAmistad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSolicitado" type="xs:long" />
      <xs:element minOccurs="0" name="IdSolicitante" type="xs:long" />
      <xs:element minOccurs="0" name="IdSolicitudAmistad" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudAmistad" nillable="true" type="tns:SolicitudAmistad" />
</xs:schema>