ClienteIntellectus/ClienteIntellectus/Connected Services/UsuarioServicios/UsuarioServices4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56251/Services/UsuarioServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" />
  <xs:element name="ConsultarPorCorreoYPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPorCorreoYPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" minOccurs="0" name="ConsultarPorCorreoYPasswordResult" nillable="true" type="q1:UnicaRespuestaOfUsuarioqYdlCAL1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>