ClienteIntellectus/ClienteIntellectus/Connected Services/UsuarioServicios/UsuarioServices4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56251/Services/UsuarioServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" />
  <xs:import schemaLocation="http://localhost:56251/Services/UsuarioServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" />
  <xs:element name="ConsultarPorCorreoYPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPorCorreoYPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" minOccurs="0" name="ConsultarPorCorreoYPasswordResult" nillable="true" type="q1:UnicaRespuestaOfUsuarioqYdlCAL1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" minOccurs="0" name="usuario" nillable="true" type="q2:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" minOccurs="0" name="RegistrarResult" nillable="true" type="q3:InsertarRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" minOccurs="0" name="ConsultarResult" nillable="true" type="q4:UnicaRespuestaOfUsuarioqYdlCAL1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPorBusqueda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:long" />
        <xs:element minOccurs="0" name="busqueda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPorBusquedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" minOccurs="0" name="ConsultarPorBusquedaResult" nillable="true" type="q5:MultipleRespuestaOfUsuarioAmistadqYdlCAL1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSolicitudesPorCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idcliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSolicitudesPorClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" minOccurs="0" name="ConsultarSolicitudesPorClienteResult" nillable="true" type="q6:MultipleRespuestaOfUsuarioAmistadqYdlCAL1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAmigos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idcliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAmigosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" minOccurs="0" name="ConsultarAmigosResult" nillable="true" type="q7:MultipleRespuestaOfUsuarioAmistadqYdlCAL1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>