ClienteIntellectus/ClienteIntellectus/Connected Services/UsuarioServicios/UsuarioServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56251/Services/UsuarioServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" />
  <xs:import schemaLocation="http://localhost:56251/Services/UsuarioServices.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="UnicaRespuestaOfUsuarioqYdlCAL1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="UnicaRespuestaOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Usuario" Namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" minOccurs="0" name="Entidad" nillable="true" type="q1:Usuario" />
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errores" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnicaRespuestaOfUsuarioqYdlCAL1" nillable="true" type="tns:UnicaRespuestaOfUsuarioqYdlCAL1" />
  <xs:complexType name="InsertarRespuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errores" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertarRespuesta" nillable="true" type="tns:InsertarRespuesta" />
  <xs:complexType name="MultipleRespuestaOfUsuarioAmistadqYdlCAL1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="MultipleRespuestaOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UsuarioAmistad" Namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" minOccurs="0" name="Entidades" nillable="true" type="q4:ArrayOfUsuarioAmistad" />
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errores" nillable="true" type="q5:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MultipleRespuestaOfUsuarioAmistadqYdlCAL1" nillable="true" type="tns:MultipleRespuestaOfUsuarioAmistadqYdlCAL1" />
</xs:schema>