ClienteIntellectus/ClienteIntellectus/Connected Services/UsuarioServicios/UsuarioServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsuarioServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56251/Services/UsuarioServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56251/Services/UsuarioServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56251/Services/UsuarioServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" />
      <xsd:import schemaLocation="http://localhost:56251/Services/UsuarioServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" />
      <xsd:import schemaLocation="http://localhost:56251/Services/UsuarioServices.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuarioServices_ConsultarPorCorreoYPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPorCorreoYPassword" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServices_ConsultarPorCorreoYPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPorCorreoYPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServices_Registrar_InputMessage">
    <wsdl:part name="parameters" element="tns:Registrar" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServices_Registrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServices_Consultar_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultar" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServices_Consultar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuarioServices">
    <wsdl:operation name="ConsultarPorCorreoYPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioServices/ConsultarPorCorreoYPassword" message="tns:IUsuarioServices_ConsultarPorCorreoYPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioServices/ConsultarPorCorreoYPasswordResponse" message="tns:IUsuarioServices_ConsultarPorCorreoYPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioServices/Registrar" message="tns:IUsuarioServices_Registrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioServices/RegistrarResponse" message="tns:IUsuarioServices_Registrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioServices/Consultar" message="tns:IUsuarioServices_Consultar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioServices/ConsultarResponse" message="tns:IUsuarioServices_Consultar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuarioServices" type="tns:IUsuarioServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarPorCorreoYPassword">
      <soap:operation soapAction="http://tempuri.org/IUsuarioServices/ConsultarPorCorreoYPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrar">
      <soap:operation soapAction="http://tempuri.org/IUsuarioServices/Registrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <soap:operation soapAction="http://tempuri.org/IUsuarioServices/Consultar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuarioServices">
    <wsdl:port name="BasicHttpBinding_IUsuarioServices" binding="tns:BasicHttpBinding_IUsuarioServices">
      <soap:address location="http://localhost:56251/Services/UsuarioServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>