ClienteIntellectus/ClienteIntellectus/Connected Services/AmigosServicios/AmigosServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AmigosServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56251/Services/AmigosServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56251/Services/AmigosServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56251/Services/AmigosServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" />
      <xsd:import schemaLocation="http://localhost:56251/Services/AmigosServices.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:56251/Services/AmigosServices.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAmigosServices_SolicitudDeAmistad_InputMessage">
    <wsdl:part name="parameters" element="tns:SolicitudDeAmistad" />
  </wsdl:message>
  <wsdl:message name="IAmigosServices_SolicitudDeAmistad_OutputMessage">
    <wsdl:part name="parameters" element="tns:SolicitudDeAmistadResponse" />
  </wsdl:message>
  <wsdl:message name="IAmigosServices_ConsultarSolicitudesEnviadas_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSolicitudesEnviadas" />
  </wsdl:message>
  <wsdl:message name="IAmigosServices_ConsultarSolicitudesEnviadas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSolicitudesEnviadasResponse" />
  </wsdl:message>
  <wsdl:message name="IAmigosServices_ConsultarSolicitudesRecibidas_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSolicitudesRecibidas" />
  </wsdl:message>
  <wsdl:message name="IAmigosServices_ConsultarSolicitudesRecibidas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSolicitudesRecibidasResponse" />
  </wsdl:message>
  <wsdl:message name="IAmigosServices_EliminarSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarSolicitud" />
  </wsdl:message>
  <wsdl:message name="IAmigosServices_EliminarSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="IAmigosServices_AceptarSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:AceptarSolicitud" />
  </wsdl:message>
  <wsdl:message name="IAmigosServices_AceptarSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:AceptarSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="IAmigosServices_ConsultarAmigos_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAmigos" />
  </wsdl:message>
  <wsdl:message name="IAmigosServices_ConsultarAmigos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAmigosResponse" />
  </wsdl:message>
  <wsdl:portType name="IAmigosServices">
    <wsdl:operation name="SolicitudDeAmistad">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmigosServices/SolicitudDeAmistad" message="tns:IAmigosServices_SolicitudDeAmistad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmigosServices/SolicitudDeAmistadResponse" message="tns:IAmigosServices_SolicitudDeAmistad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarSolicitudesEnviadas">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmigosServices/ConsultarSolicitudesEnviadas" message="tns:IAmigosServices_ConsultarSolicitudesEnviadas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmigosServices/ConsultarSolicitudesEnviadasResponse" message="tns:IAmigosServices_ConsultarSolicitudesEnviadas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarSolicitudesRecibidas">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmigosServices/ConsultarSolicitudesRecibidas" message="tns:IAmigosServices_ConsultarSolicitudesRecibidas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmigosServices/ConsultarSolicitudesRecibidasResponse" message="tns:IAmigosServices_ConsultarSolicitudesRecibidas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmigosServices/EliminarSolicitud" message="tns:IAmigosServices_EliminarSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmigosServices/EliminarSolicitudResponse" message="tns:IAmigosServices_EliminarSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AceptarSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmigosServices/AceptarSolicitud" message="tns:IAmigosServices_AceptarSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmigosServices/AceptarSolicitudResponse" message="tns:IAmigosServices_AceptarSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarAmigos">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmigosServices/ConsultarAmigos" message="tns:IAmigosServices_ConsultarAmigos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmigosServices/ConsultarAmigosResponse" message="tns:IAmigosServices_ConsultarAmigos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAmigosServices" type="tns:IAmigosServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SolicitudDeAmistad">
      <soap:operation soapAction="http://tempuri.org/IAmigosServices/SolicitudDeAmistad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSolicitudesEnviadas">
      <soap:operation soapAction="http://tempuri.org/IAmigosServices/ConsultarSolicitudesEnviadas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSolicitudesRecibidas">
      <soap:operation soapAction="http://tempuri.org/IAmigosServices/ConsultarSolicitudesRecibidas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSolicitud">
      <soap:operation soapAction="http://tempuri.org/IAmigosServices/EliminarSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AceptarSolicitud">
      <soap:operation soapAction="http://tempuri.org/IAmigosServices/AceptarSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarAmigos">
      <soap:operation soapAction="http://tempuri.org/IAmigosServices/ConsultarAmigos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AmigosServices">
    <wsdl:port name="BasicHttpBinding_IAmigosServices" binding="tns:BasicHttpBinding_IAmigosServices">
      <soap:address location="http://localhost:56251/Services/AmigosServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>