ClienteIntellectus/ClienteIntellectus/Connected Services/AmigosServicios/AmigosServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56251/Services/AmigosServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" />
  <xs:element name="SolicitudDeAmistad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solicitante" type="xs:int" />
        <xs:element minOccurs="0" name="solicitado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudDeAmistadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" minOccurs="0" name="SolicitudDeAmistadResult" nillable="true" type="q1:InsertarRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSolicitudesEnviadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="soliciante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSolicitudesEnviadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" minOccurs="0" name="ConsultarSolicitudesEnviadasResult" nillable="true" type="q2:MultipleRespuestaOfSolicitudAmistadqYdlCAL1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSolicitudesRecibidas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="soliciante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSolicitudesRecibidasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" minOccurs="0" name="ConsultarSolicitudesRecibidasResult" nillable="true" type="q3:MultipleRespuestaOfSolicitudAmistadqYdlCAL1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>