ClienteIntellectus/ClienteIntellectus/Connected Services/AmigosServicios/AmigosServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56251/Services/AmigosServices.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:56251/Services/AmigosServices.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" />
  <xs:complexType name="InsertarRespuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errores" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertarRespuesta" nillable="true" type="tns:InsertarRespuesta" />
  <xs:complexType name="MultipleRespuestaOfSolicitudAmistadqYdlCAL1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="MultipleRespuestaOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SolicitudAmistad" Namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" minOccurs="0" name="Entidades" nillable="true" type="q2:ArrayOfSolicitudAmistad" />
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errores" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MultipleRespuestaOfSolicitudAmistadqYdlCAL1" nillable="true" type="tns:MultipleRespuestaOfSolicitudAmistadqYdlCAL1" />
  <xs:complexType name="EliminarRespuestaOfSolicitudAmistadqYdlCAL1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EliminarRespuestaOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SolicitudAmistad" Namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" minOccurs="0" name="Entidad" nillable="true" type="q4:SolicitudAmistad" />
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errores" nillable="true" type="q5:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EliminarRespuestaOfSolicitudAmistadqYdlCAL1" nillable="true" type="tns:EliminarRespuestaOfSolicitudAmistadqYdlCAL1" />
  <xs:complexType name="ActualizarRespuestaOfSolicitudAmistadqYdlCAL1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ActualizarRespuestaOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SolicitudAmistad" Namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" minOccurs="0" name="Entidad" nillable="true" type="q6:SolicitudAmistad" />
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errores" nillable="true" type="q7:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActualizarRespuestaOfSolicitudAmistadqYdlCAL1" nillable="true" type="tns:ActualizarRespuestaOfSolicitudAmistadqYdlCAL1" />
</xs:schema>