ClienteIntellectus/ClienteIntellectus/Connected Services/AmigosServicios/AmigosServices4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSolicitudAmistad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolicitudAmistad" nillable="true" type="tns:SolicitudAmistad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitudAmistad" nillable="true" type="tns:ArrayOfSolicitudAmistad" />
  <xs:complexType name="SolicitudAmistad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSolicitado" type="xs:long" />
      <xs:element minOccurs="0" name="IdSolicitante" type="xs:long" />
      <xs:element minOccurs="0" name="IdSolicitudAmistad" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudAmistad" nillable="true" type="tns:SolicitudAmistad" />
</xs:schema>