ClienteIntellectus/ClienteIntellectus/Connected Services/PerfilServicios/PerfilServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56251/Services/PerfilServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" />
  <xs:import schemaLocation="http://localhost:56251/Services/PerfilServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" />
  <xs:element name="ConsultarPerfilCompuesto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPerfilCompuestoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" minOccurs="0" name="ConsultarPerfilCompuestoResult" nillable="true" type="q1:UnicaRespuestaOfPerfilCompuestoqYdlCAL1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPerfilCompuesto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" minOccurs="0" name="perfilCompuesto" nillable="true" type="q2:PerfilCompuesto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPerfilCompuestoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" minOccurs="0" name="ActualizarPerfilCompuestoResult" nillable="true" type="q3:ActualizarRespuestaOfPerfilCompuestoqYdlCAL1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>