ClienteIntellectus/ClienteIntellectus/Connected Services/PerfilServicios/PerfilServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PerfilServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56251/Services/PerfilServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56251/Services/PerfilServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56251/Services/PerfilServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" />
      <xsd:import schemaLocation="http://localhost:56251/Services/PerfilServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" />
      <xsd:import schemaLocation="http://localhost:56251/Services/PerfilServices.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPerfilServices_ConsultarPerfilCompuesto_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPerfilCompuesto" />
  </wsdl:message>
  <wsdl:message name="IPerfilServices_ConsultarPerfilCompuesto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPerfilCompuestoResponse" />
  </wsdl:message>
  <wsdl:message name="IPerfilServices_ActualizarPerfilCompuesto_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPerfilCompuesto" />
  </wsdl:message>
  <wsdl:message name="IPerfilServices_ActualizarPerfilCompuesto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPerfilCompuestoResponse" />
  </wsdl:message>
  <wsdl:message name="IPerfilServices_ObtenerListaAmigosPerfilCompuesto_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaAmigosPerfilCompuesto" />
  </wsdl:message>
  <wsdl:message name="IPerfilServices_ObtenerListaAmigosPerfilCompuesto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaAmigosPerfilCompuestoResponse" />
  </wsdl:message>
  <wsdl:portType name="IPerfilServices">
    <wsdl:operation name="ConsultarPerfilCompuesto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerfilServices/ConsultarPerfilCompuesto" message="tns:IPerfilServices_ConsultarPerfilCompuesto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerfilServices/ConsultarPerfilCompuestoResponse" message="tns:IPerfilServices_ConsultarPerfilCompuesto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarPerfilCompuesto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerfilServices/ActualizarPerfilCompuesto" message="tns:IPerfilServices_ActualizarPerfilCompuesto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerfilServices/ActualizarPerfilCompuestoResponse" message="tns:IPerfilServices_ActualizarPerfilCompuesto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaAmigosPerfilCompuesto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerfilServices/ObtenerListaAmigosPerfilCompuesto" message="tns:IPerfilServices_ObtenerListaAmigosPerfilCompuesto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerfilServices/ObtenerListaAmigosPerfilCompuestoResponse" message="tns:IPerfilServices_ObtenerListaAmigosPerfilCompuesto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPerfilServices" type="tns:IPerfilServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarPerfilCompuesto">
      <soap:operation soapAction="http://tempuri.org/IPerfilServices/ConsultarPerfilCompuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarPerfilCompuesto">
      <soap:operation soapAction="http://tempuri.org/IPerfilServices/ActualizarPerfilCompuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaAmigosPerfilCompuesto">
      <soap:operation soapAction="http://tempuri.org/IPerfilServices/ObtenerListaAmigosPerfilCompuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PerfilServices">
    <wsdl:port name="BasicHttpBinding_IPerfilServices" binding="tns:BasicHttpBinding_IPerfilServices">
      <soap:address location="http://localhost:56251/Services/PerfilServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>