ClienteIntellectus/ClienteIntellectus/Connected Services/PerfilServicios/PerfilServices4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56251/Services/PerfilServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" />
  <xs:import schemaLocation="http://localhost:56251/Services/PerfilServices.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="UnicaRespuestaOfPerfilCompuestoqYdlCAL1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="UnicaRespuestaOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PerfilCompuesto" Namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" minOccurs="0" name="Entidad" nillable="true" type="q1:PerfilCompuesto" />
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errores" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnicaRespuestaOfPerfilCompuestoqYdlCAL1" nillable="true" type="tns:UnicaRespuestaOfPerfilCompuestoqYdlCAL1" />
  <xs:complexType name="ActualizarRespuestaOfPerfilCompuestoqYdlCAL1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ActualizarRespuestaOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Utileria" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PerfilCompuesto" Namespace="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFIntellectus.Entidades" minOccurs="0" name="Entidad" nillable="true" type="q3:PerfilCompuesto" />
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errores" nillable="true" type="q4:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActualizarRespuestaOfPerfilCompuestoqYdlCAL1" nillable="true" type="tns:ActualizarRespuestaOfPerfilCompuestoqYdlCAL1" />
</xs:schema>